<h1 mat-dialog-title>Sign Up Form</h1>
<div mat-dialog-content fxLayout="column">
    <form class="formwidth" (ngSubmit)="onSubmit()" #signUpForm="ngForm">
        <mat-form-field class="fullwidth">
            <input matInput placeholder="Full Name" id="userName" type="text"
                [(ngModel)]="userDetails.userName" 
                name="firstname">
        </mat-form-field>
        <mat-form-field class="fullwidth">
            <input matInput placeholder="Email" id="email" type="email"
                [(ngModel)]="userDetails.email" name="email">
        </mat-form-field>
        <mat-form-field class="fullwidth">
            <input matInput placeholder="Contact Number" id="contactNo" type="number"
                [(ngModel)]="userDetails.contactNo" name="contactNo">
        </mat-form-field>
        <mat-form-field class="fullwidth">
            <input matInput placeholder="Password" id="password" type="password"
                [(ngModel)]="userDetails.password" name="password">
        </mat-form-field>
        <mat-form-field class="fullwidth">
            <input matInput placeholder="Date Of Birth" id="dob" 
                [(ngModel)]="userDetails.dob" name="dob">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial type="submit"
        [disabled]="!signUpForm.form.valid">Sign Up</button>
  </div>
