<h1 mat-dialog-title>Signup Form</h1>
<div mat-dialog-content class="signUpFormContainer">
  <form fxLayout="column" fxLayoutAlign="space-around center"
    [formGroup]="signupForm" (ngSubmit)="submitSignupForm()">

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Abc Xyz" type="text"
        formControlName="fullName">
      <mat-hint>Enter your full name</mat-hint>
        <mat-error *ngIf="signupFormControls.fullName.invalid && signupFormControls.fullName.errors.required">
          Full Name is required!
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Email Id</mat-label>
      <input matInput placeholder="AbcXyz@gmail.com" type="text"
        formControlName="email"
        required>
      <mat-hint>Enter your email id</mat-hint>
      <mat-error *ngIf="signupFormControls.email.invalid && signupFormControls.email.errors.required">
        Email Id is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Contact Number</mat-label>
      <input matInput placeholder="9200321232" type="text"
        formControlName="contactNo"
        required>
      <mat-hint>Enter your contact number</mat-hint>
      <mat-error *ngIf="signupFormControls.contactNo.invalid && signupFormControls.contactNo.errors.required">
        Contact Number is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Date Of Birth</mat-label>
      <input matInput placeholder="02/02/1996" type="text"
        formControlName="dob"
        required>
      <mat-hint>Enter your date of birth</mat-hint>
      <mat-error *ngIf="signupFormControls.dob.invalid && signupFormControls.dob.errors.required">
        Date Of Birth is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Password</mat-label>
      <input matInput placeholder="abc123@kjf" type="password"
        formControlName="password"
        required>
      <mat-hint>Enter password</mat-hint>
      <mat-error *ngIf="signupFormControls.password.invalid && signupFormControls.password.errors.required">
        Full Name is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="abc123@kjf"
        formControlName="confirmPassword"
        required>
      <mat-hint>Enter password again</mat-hint>
      <mat-error *ngIf="signupFormControls.confirmPassword.invalid && signupFormControls.confirmPassword.errors.required">
        Full Name is required!
      </mat-error>
    </mat-form-field>
    <div fxFlex *ngIf="signupForm.invalid">
      <p style="background-color: red;">Please fill all the details!!</p>
    </div>
    <div mat-dialog-actions fxFlex fxLayout="row" fxLayoutAlign="end center" class="signupActionContainer">
      <button mat-raised-button (click)="closeSignupDialog()">Cancel</button>
      <button type="submit" mat-raised-button
        color="primary"
        cdkFocusInitial>Submit</button>
    </div>
  </form>
</div>
